.cursor {
   cursor: url('images/cursor-new.png'), auto;
}


.mesh {
  margin: 0;
  width: 11640px;
  height: 11640px;
  position: relative;
  background-image: url('images/mesh-export-01.svg');
  background-size: 100% cover;

}

a {
  text-decoration: none;
  color: black;
  transition: 1s;
}

a:hover {
  color: white;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.title {
  position: fixed;
  right: 70px;
  top: 100px;
}

.more-info {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding-top: 0;
  color: white;
  font-size: 16px;
  display: block;
  font-weight: 300;
}

.chemical {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin: 0;
}

.amount {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  margin: 0;
  padding-top: 0;

}

.ammonia {
  top: 3%;
  left: 3%;
}

.methanol {
  top: 3%;
  left: 41%;
}

.formic-acid {
  top: 3%;
  left: 75%;
}

.formaldehyde {
  top: 42%;
  left: 3%;
}

.acetonitrile {
  top: 42%;
  left: 28%;
}

.asbestos {
  top: 94%;
  left: 3%;
}

.barium-compounds {
  top: 94%;
  left: 16%;
}

.styrene {
  top: 33.25%;
  left: 38%;
}

.benzene {
  top: 33.25%;
  left: 42.25%;
}

.nitrobenzene {
  top: 33.25%;
  left: 45.75%;
}

.chlorobenzene {
  top: 33.25%;
  left: 50%;
}

.Methylenedianiline44 {
  top: 33.25%;
  left: 54%;
}

.hydrogen-cyanide {
  top: 33.25%;
  left: 62%;
}

.zinc-compounds {
  top: 25%;
  left: 75%;
}

.chlorodifluoromethane {
  top: 38.75%;
  left: 45.75%;
}

.carbon-disulfide {
  top: 40.75%;
  left: 45.75%;
}

.chlorine {
  top: 38.75%;
  left: 57%;
}

.ethylene-glycol {
  top: 42.5%;
  left: 38%;
}

.n-hexane {
  top: 46.5%;
  left: 38%;
}

.nitrate-compounds {
  top: 46.5%;
  left: 66%;
}

.copper-compounds {
  top: 57%;
  left: 38%;
}

.xylene {
  top: 61%;
  left: 38%;
}

.cyclohexane {
  top: 61%;
  left: 43.5%;
}

.cyanide-compounds {
  top: 61%;
  left: 48.25%;
}

.hydrogen-sulfide {
  top: 61%;
  left: 55%;
}

.butadiene13 {
  top: 67.5%;
  left: 48.25%;
}

.lead-compounds {
  top: 70.25%;
  left: 48.25%;
}

.sulfuric-acid {
  top: 70.25%;
  left: 61%;
}

.acetaldehyde {
  top: 70.25%;
  left: 69.5%;
}

.chloroprene {
  top: 70.25%;
  left: 75.25%;
}

.aniline {
  top: 70.25%;
  left: 81.5%;
}

.hydrogen-fluoride {
  top: 74.25%;
  left: 75.25%;
}

.nitric-acid {
  top: 79%;
  left: 75.25%;
}

.molybdenum-trioxide {
  top: 79%;
  left: 69%;
}

.toulene {
  top: 85.25%;
  left: 69%;
}

.sodium-nitrite {
  top: 74.5%;
  left: 48.25%;
}

.aluminum-oxide {
  top: 84.5%;
  left: 48.25%;
}

.nickel {
  top: 87.75%;
  left: 48.25%;
}

.dichloroethane12 {
  top: 87.75%;
  left: 52%;
}

.ethylene {
  top: 90%;
  left: 52%;
}

.manganese-compounds {
  top: 69.5%;
  left: 15%;
}

.naphthalene {
  top: 69.5%;
  left: 31%;
}

.phenol {
  top: 69.5%;
  left: 37%;
}

.vanadium-compounds {
  top: 72.5%;
  left: 31%;
}

.chromium-compounds {
  top: 76.25%;
  left: 31%;
}

.acrylamide {
  top: 82%;
  left: 31%;
}

.hcl {
  top: 86.5%;
  left: 31%;
}

.propylene {
  top: 72.5%;
  left: 39.5%;
}
